.cuadros {
    display: flex;
    padding: 60px;
    gap: 30px;
  
    .cuadro1 {
        display: flex;
        border-radius: 0%;
        overflow: hidden;
        background-color: $colorSengundo;
        flex-direction: column;
        gap: 10px;
    }
    .cuadritos {
        width: 100%;
        padding: 1px;
    }
    .texto-diseño {
        font-family:$tipografiaPrimer;
        display: flex;
        align-items: center;
        justify-content: center;}
      .boton-link {
        text-decoration: none;
        background-color:$colorPrincipal;
        border-color:$colorSengundo;
      
      &:hover {
        background-color:$colorPimer;
        color:$colorPrincipal;
      }
      }
      .boton-exterior{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .boton-interior{
        display: flex;
        align-items: center;
        justify-content: center;
      }
      }
  