.items {
    font-size: 4rem;
    color:$colorPimer;
    text-align: center;
    padding: 5rem;
    font-weight: bold;
    }

    .contacto{
        background-color: #fafafa;
        width: 645px;
        height: 680px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 3px #333 solid;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 110px;
display: flex;
align-items: center;
justify-content: center;
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    border-color:$colorSengundo;
}
.mensajes{
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: $colorSengundo;
}

    }
            .value {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $colorSengundo;
                border-color:$colorPrincipal;

                &:hover {
                    background-color:$colorPrincipal;
                    color:$colorPimer;
                }
            
            }
            .enviar{
                background-color: #333;
    color: #fff;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    }
            .mapa{
                display: flex;
                justify-content: center;
                align-items: center;
            }
       