
.cuadros-grid{
      display: grid;
grid-template-columns: 1fr 1fr 1fr;
      
      .cuadro-grid{
        margin: 10px;
      }
}
.cuadro2 {
     display: flex;
     border-radius: 0%;
     background-color:$colorSengundo;
    flex-direction: column;
    gap: 1px;
    flex: 1;
}

    .cuadrito {
        width:100%;
        flex: 1;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    .cuadro3 {
    padding-inline: 20px;
    .Nombre {
        font-family:$tipografiaGeneral; 
    }
    .textos {
        font-style:$tipografiaPrimer;
    }
    }

  