.items {
    font-size: 4rem;
    color:$colorPimer;
    text-align: center;
    padding: 5rem;
    font-weight: bold;
    
        .cuadro2 {
      
            display: flex;
            border-radius: 0%;
            background-color:$colorSengundo;
            flex-direction: column;
            gap: 1px;
            flex: 1;
        }
        .cuadrito {
            width:100%;
            flex: 1;
            margin: 0;
            padding: 0;
            vertical-align: middle;
        }
        }
        .cuadro3 {
        padding-inline: 20px;
        .Nombre {
            font-family:$tipografiaGeneral; 
        }
        .textos {
            font-style:$tipografiaPrimer;
        }
        .ver-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            padding: 10px;
            border-color:$colorPrincipal;
            color: $colorPimer;
            &:hover {
                background-color: $colorPrincipal;
                color: $colorPimer;
               
            }
        }
        

}